<div class="container">
    {{newRoom | json}}
    <div class="row">
        <h2 class="h2 m-2 p-3">Adding New Room</h2>
    </div>
    <div class="row">
        <div class="col-md-8">
            Enter the Name : <input type="text" [(ngModel)] = "newRoom.roomName" class="form-control m-3"/>
            Enter the Capacity : <input type="number" [(ngModel)] = "newRoom.roomCapacity" class="form-control m-3"/>
            Enter the Room Location: <input type="text" [(ngModel)] = "newRoom.roomLocation" class="form-control m-3"/>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <button class="btn btn-danger m-2" (click)="onNewRoom()">
                <i class="fa fa-save" aria-hidden="true"></i>
                Add Room
            </button>
            <button class="btn btn-secondary" routerLink="/">
                <i class="fa fa-arrow-left" aria-hidden="true"></i>
                Back
            </button>
        </div>
    </div>
</div>

