<!-- {{selectedMeeting | json}} -->
<div class="card">
    <div class="card-header">
        
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-6">
               Room Id: <input text="number" class="form-control my-4" disabled [value]="selectedRoom.roomId" />
                Room Name:<input text="text" class="form-control my-4" disabled [value]="selectedRoom.roomName" />
                Room Capacity:<input text="text" class="form-control my-4" disabled [value]="selectedRoom.roomLocation" />
                Room Location:<input text="number" class="form-control my-4" disabled [value]="selectedRoom.roomCapacity" />
               
            </div>
            
        </div>
    </div>
</div>